# Actividad 2.1: Tipos de Datos

## ¿Por qué usamos cuadernos en este curso?

Hay muchas razones. La primera, en un cuaderno podemos incluir instrucciones en forma de texto, darle formato, insertar imágenes y un largo etcetera. Esto se hace en celdas llamadas *markdown*. También podemos escribir bloques de código y ejecutarlos en celdas de código *code*.

La celda donde está escrito este texto es un ejemplo de *markdown*. Aquí encontrarás instrucciones, ejemplos y ayudas para completar las actividades.
La siguiente celda es una de código, como primera actividad escribe la(s) instrucción(es) para imprimir un texto que diga 'Hola mundo!'. Una vez hayas escrito el código, ejecútalo dando click en *play* o bien, pulsando 'shift + enter.

Consejo: usa la función `print`.

In [ ]:
# También puedes escribir comentarios en las celdas de código, usa # para esto.

## Errores
Una de las características que hacen a python más amigable al programador es el manejo de errores.
Escribe un código erroneo en la siguiente celda y analiza el mensaje de error que aparecerá.

Una habilidad muy útil e importante de los programadores, es la capacidad de debbugear su propio, o el código ajeno. ¡Siempre presta atención a los mensajes de error!

## Tipos de Datos

Existen varios tipos de datos en Python. Estos incluyen entero (int), flotante (float), booleano (bool), cadena (str).
En la siguiente celda, imprime un ejemplo de cada uno de estos tipos de datos.

Utiliza la función `type()` para imprimir tipos los tipos de datos que usaste en el ejercicio anterior.

¿Qué tipo de dato es el número $9.0$ ? Responde con un comentario en la siguiente celda, puedes ademas comprobar con la función `type()`.

In [ ]:
# El número 9.0 es un

¿Qué tipo de dato se imprime en los siguientes ejemplos?

`print(" ")`

`print("¡Hay una serpiente en mi bota!")`

`print('True')`

In [ ]:
# Responde aquí con un comentario

## Variables
Una variable es un espacio en memoria que tiene un nombre simbólico asociado. Ejemplo:

`edad = 19`

`nombre = “Juanito”`

Las variables pueden tomar cualquier valor de los tipos que vimos en la sección anterior. En la siguiente celda declara una variable de cada tipo.

Ahora imprime cada una de esas variables en la siguiente celda.

Imprime también el tipo de dato guardado en la variable.

En la siguiente celda, se declara una variable _nombre_ con el valor 'Pancho' y luego se imprime. No borres ese código y sobreescribe después la variable _nombre_ con tu propio nombre (si tu nombre es Pancho usa cualquier otro). Imprime el nuevo valor de la variable. Explica qué ocurrió en un comentario después.

In [ ]:
nombre = 'Pancho'
print(nombre)

Identifica el error en el siguiente código, puedes correr la celda para analizar el error. Corrígelo y explica brevemente en un comentario cuál fue y cómo lo corregiste.

In [ ]:
deporte = 'fútbol'
print(Deporte)

### Strings
Las variables de tipo string tienen muchos métodos útiles. Investiga las siguientes funciones y escribe un ejemplo del uso de cada una.
`.title()`, `.lower()`, `.upper()`,`.replace()`, `.find()`,`.strip()`, `.split()`

## Conversión de tipos de datos

En la siguiente celda convierte los valores de las variables en los tipos de datos que se indican. Comprueba que el nuevo tipo de dato es el correcto.

In [ ]:
num1_str = "9" # convertir a entero

num2_int =  5 # convertir a flotante

num3_float = 3.14 # convertir a entero

num4_bool = True # convertir a entero

num5_str = "False" # convertir a booleano

# Imprime el tipo de dato de cada variable