# Actividad 2.3: Estructuras de Datos II

En este cuaderno continuaremos con las estructuras de datos, esta vez usaremos las tuplas, conjuntos y diccionarios.

## Tuplas

Las tuplas son muy parecidas a las listas, con una diferencia fundamental: una vez se ha creado no se puede modificar directamente.
Una tupla se declara con paréntesis `()`.

En la siguiente celda, declara una dupla que contenga 3 números arbitrarios distintos.

Imprime cada elemento de esa tupla por separado en la siguiente celda.

Ahora intenta modificar un elemento de esa tupla.

Ahora escribe una tupla con 7 nombres de frutas.

Escribe en la siguiente celda el código para imprimir:
- Los primeros 3 valores de la tupla de la celda anterior.
- Los últimos 3 valores de la tupla.
- Todos los valores, excepto el primero y el último.

Investiga el uso de los métodos `count()` e `index()`. En la siguiente celda demuestra su uso.

## Conjuntos

Los conjuntos son colecciónes sin orden, sin indices e inmodificables. Sin embargo se les pueden añadir o remover elementos. Los conjuntos se declaran con llaves `{}`.

En la siguiente celda escribe un conjunto con 3 nombres de animales. ¿Se pueden repetir nombres de animales? Responde en un comentario.

En la siguiente celda, intenta accesar a los valores del conjunto por medio de índices.

Investiga cómo se puede revisar si un elemento está o no en un conjunto. Escribe un ejemplo a continuación.

Investiga cómo añadir y remover elementos de un conjunto. Escribe un ejemplo en la siguiente celda.

## Diccionarios

Los diccionarios guardan valores en pares _llave:valor_. Se declaran usando llaves `diccionario = {llave_1:valor_1, llave_2:valor_2, ... }`. Sus elementos pueden ser cambiados, no se admiten duplicados y a partir de la versión 3.7 de python los diccionarios tienen orden.

A continuación escribe un ejemplo de un diccionario con edades de personas, donde las llaves sean los nombres y los valores sus edades.

- Juan, 23 años.
- María, 24 años.
- Karla, 22 años.
- Pepe, 29 años.

Ahora imprime únicamente la edad de Karla.

Imprime sólo los nombres.

Ahora imprime sólo las edades.

Cambia la edad de Juan a 26 años.

Intenta accesar a la eda de Pedro, ¿qué ocurre?

Añade una entrada al diccionario para Pedro, que tiene 37 años.

Ahora elimina María del diccionario.